@font-face {
    font-family: "Ubuntu Mono";
    src: url("/fonts/UbuntuMono-Regular.ttf"), format("ttf");
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Mono";
    src: url("/fonts/UbuntuMono-Italic.ttf"), format("ttf");
    font-display: swap;
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Ubuntu Mono";
    src: url("/fonts/UbuntuMono-Bold.ttf"), format("ttf");
    font-display: swap;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Mono";
    src: url("/fonts/UbuntuMono-BoldItalic.ttf"), format("ttf");
    font-display: swap;
    font-weight: bold;
    font-style: italic;
}

body {
    margin: 0;
    font-family: Ubuntu Mono;

    --color-old-green-4: #000A01;
    --color-old-green-8: #001902;
    --color-old-green-12: #001D02;
    --color-old-green-16: #002C04;
    --color-old-green-20: #003104;
    --color-old-green-24: #004205;
    --color-old-green-28: #005307;
    --color-old-green-32: #006508;
    --color-old-green-36: #00760A;
    --color-old-green-40: #00870B;
    --color-old-green-44: #00BA0F;
    --color-old-green-48: #00CC11;
    --color-old-green-52: #00DD12;
    --color-old-green-56: #00EE14;
    --color-old-green-60: #00FF15;
    --color-old-green-64: #1AFF2C;
    --color-old-green-68: #4CFF5B;
    --color-old-green-72: #80FF8A;
    --color-old-green-76: #B3FFB9;
    --color-old-green-80: #CCFFD0;
    --color-old-green-84: #E6FFE8;

    --color-purple-2: #060208;
    --color-purple-6: #130618;
    --color-purple-10: #1f0b28;
    --color-purple-14: #2c0f38;
    --color-purple-18: #391348;
    --color-purple-22: #451858;
    --color-purple-26: #521c68;
    --color-purple-30: #5e2079;
    --color-purple-34: #6b2589;
    --color-purple-38: #772999;
    --color-purple-42: #842da9;
    --color-purple-46: #9132b9;
    --color-purple-50: #9d36c9;
    --color-purple-54: #a546cd;
    --color-purple-58: #ad56d2;
    --color-purple-62: #b566d6;
    --color-purple-66: #bc76da;
    --color-purple-70: #c486df;
    --color-purple-74: #cc97e3;
    --color-purple-78: #d4a7e7;
    --color-purple-82: #dcb7ec;
    --color-purple-86: #e4c7f0;
    --color-purple-90: #ebd7f4;
    --color-purple-94: #f3e7f9;
    --color-purple-98: #fbf7fd;

    --color-brick-2:#080402;
    --color-brick-6: #180c06;
    --color-brick-10: #28140b;
    --color-brick-14: #381b0f;
    --color-brick-18: #482313;
    --color-brick-22: #582b18;
    --color-brick-26: #68331c;
    --color-brick-30: #793b20;
    --color-brick-34: #894325;
    --color-brick-38: #994a29;
    --color-brick-42: #a9522d;
    --color-brick-46: #b95a32;
    --color-brick-50: #c96236;
    --color-brick-54: #cd6e46;
    --color-brick-58: #d27b56;
    --color-brick-62: #d68866;
    --color-brick-66: #da9476;
    --color-brick-70: #dfa186;
    --color-brick-74: #e3ad97;
    --color-brick-78: #e7baa7;
    --color-brick-82: #ecc6b7;
    --color-brick-86: #f0d3c7;
    --color-brick-90: #f4e0d7;
    --color-brick-94: #f9ece7;
    --color-brick-98: #fdf9f7;

    --color-wax-2: #020802;
    --color-wax-6: #061807;
    --color-wax-10: #0b280b;
    --color-wax-14: #0f3810;
    --color-wax-18: #134814;
    --color-wax-22: #185819;
    --color-wax-26: #1c681d;
    --color-wax-30: #207922;
    --color-wax-34: #258927;
    --color-wax-38: #29992b;
    --color-wax-42: #2da930;
    --color-wax-46: #32b934;
    --color-wax-50: #36c939;
    --color-wax-54: #46cd49;
    --color-wax-58: #56d258;
    --color-wax-62: #66d668;
    --color-wax-66: #76da78;
    --color-wax-70: #86df88;
    --color-wax-74: #97e398;
    --color-wax-78: #a7e7a8;
    --color-wax-82: #b7ecb8;
    --color-wax-86: #c7f0c7;
    --color-wax-90: #d7f4d7;
    --color-wax-94: #e7f9e7;
    --color-wax-98: #f7fdf7;

    --color-green-2: #080702;
    --color-green-6: #181606;
    --color-green-10: #28240b;
    --color-green-14: #38330f;
    --color-green-18: #484113;
    --color-green-22: #585018;
    --color-green-26: #685e1c;
    --color-green-30: #796d20;
    --color-green-34: #897b25;
    --color-green-38: #998a29;
    --color-green-42: #a9992d;
    --color-green-46: #b9a732;
    --color-green-50: #c9b636;
    --color-green-54: #cdbb46;
    --color-green-58: #d2c156;
    --color-green-62: #d6c766;
    --color-green-66: #dacd76;
    --color-green-70: #dfd386;
    --color-green-74: #e3d997;
    --color-green-78: #e7dfa7;
    --color-green-82: #ece5b7;
    --color-green-86: #f0eac7;
    --color-green-90: #f4f0d7;
    --color-green-94: #f9f6e7;
    --color-green-98: #fdfcf7;

    --color-prm-2: var(--color-purple-2);
    --color-prm-6: var(--color-purple-6);
    --color-prm-10: var(--color-purple-10);
    --color-prm-14: var(--color-purple-14);
    --color-prm-18: var(--color-purple-18);
    --color-prm-22: var(--color-purple-22);
    --color-prm-26: var(--color-purple-26);
    --color-prm-30: var(--color-purple-30);
    --color-prm-34: var(--color-purple-34);
    --color-prm-38: var(--color-purple-38);
    --color-prm-42: var(--color-purple-42);
    --color-prm-46: var(--color-purple-46);
    --color-prm-50: var(--color-purple-50);
    --color-prm-54: var(--color-purple-54);
    --color-prm-58: var(--color-purple-58);
    --color-prm-62: var(--color-purple-62);
    --color-prm-66: var(--color-purple-66);
    --color-prm-70: var(--color-purple-70);
    --color-prm-74: var(--color-purple-74);
    --color-prm-78: var(--color-purple-78);
    --color-prm-82: var(--color-purple-82);
    --color-prm-86: var(--color-purple-86);
    --color-prm-90: var(--color-purple-90);
    --color-prm-94: var(--color-purple-94);
    --color-prm-98: var(--color-purple-98);






    
    --color-sec-10: #131c2a;
    --color-sec-50: #6f7789;
    --color-sec-70: #a3abbe;
    --color-sec-90: #dae3f6;
}
