@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-prm-0: #000000;
        --color-prm-5: #001129;
        --color-prm-10: #001B3C;
        --color-prm-15: #00264E;
        --color-prm-20: #003061;
        --color-prm-25: #003B74;
        --color-prm-30: #084786;
        --color-prm-35: #1E5393;
        --color-prm-40: #2D5FA0;
        --color-prm-50: #4A78BA;
        --color-prm-60: #6592D6;
        --color-prm-70: #80ADF3;
        --color-prm-80: #A7C8FF;
        --color-prm-90: #D5E3FF;
        --color-prm-95: #ECF1FF;
        --color-prm-98: #F9F9FF;
        --color-prm-99: #FDFBFF;
        --color-prm-100: #FFFFFF;

        --color-sec-0: #000000;
        --color-sec-5: #08111F;
        --color-sec-10: #131C2A;
        --color-sec-15: #1D2635;
        --color-sec-20: #283140;
        --color-sec-25: #333C4B;
        --color-sec-30: #3E4757;
        --color-sec-35: #4A5363;
        --color-sec-40: #565F6F;
        --color-sec-50: #6F7789;
        --color-sec-60: #8891A3;
        --color-sec-70: #A3ABBE;
        --color-sec-80: #BEC7DA;
        --color-sec-90: #DAE3F6;
        --color-sec-95: #ECF1FF;
        --color-sec-98: #F9F9FF;
        --color-sec-99: #FDFBFF;
        --color-sec-100: #FFFFFF;

        --color-ter-0: #000000;
        --color-ter-5: #1B0922;
        --color-ter-10: #27142D;
        --color-ter-15: #321F38;
        --color-ter-20: #3D2943;
        --color-ter-25: #49344F;
        --color-ter-30: #543F5B;
        --color-ter-35: #614B67;
        --color-ter-40: #6D5674;
        --color-ter-50: #876F8D;
        --color-ter-60: #A288A8;
        --color-ter-70: #BDA2C3;
        --color-ter-80: #DABDDF;
        --color-ter-90: #F7D9FC;
        --color-ter-95: #FEEBFF;
        --color-ter-98: #FFF7FB;
        --color-ter-99: #FFFBFF;
        --color-ter-100: #FFFFFF; 

        --color-neu-0: #000000;
        --color-neu-5: #101113;
        --color-neu-10: #1A1C1E;
        --color-neu-15: #252628;
        --color-neu-20: #2F3033;
        --color-neu-25: #3A3B3E;
        --color-neu-30: #46474A;
        --color-neu-35: #525255;
        --color-neu-40: #5E5E61;
        --color-neu-50: #77777A;
        --color-neu-60: #919094;
        --color-neu-70: #ABABAE;
        --color-neu-80: #C7C6C9;
        --color-neu-90: #E3E2E5;
        --color-neu-95: #F2F0F4;
        --color-neu-98: #FAF9FC;
        --color-neu-99: #FDFBFF;
        --color-neu-100: #FFFFFF;          

        --color-neu-var-0: #000000;
        --color-neu-var-5: #0E1117;
        --color-neu-var-10: #181C22;
        --color-neu-var-15: #23262C;
        --color-neu-var-20: #2D3037;
        --color-neu-var-25: #383B42;
        --color-neu-var-30: #44474E;
        --color-neu-var-35: #4F5259;
        --color-neu-var-40: #5B5E66;
        --color-neu-var-50: #74777F;
        --color-neu-var-60: #8E9098;
        --color-neu-var-70: #A9ABB3;
        --color-neu-var-80: #C4C6CF;
        --color-neu-var-90: #E0E2EB;
        --color-neu-var-95: #EFF0F9;
        --color-neu-var-98: #F9F9FF;
        --color-neu-var-99: #FDFBFF;
        --color-neu-var-100: #FFFFFF;
    }
}