.button {
    box-shadow:
        -2px -2px 4px #ffffff22,
        2px 2px 4px #00000033,
        1px 1px 6px #ffffff22 inset,
        -1px -1px 6px #00000033 inset;
}

.button:active {
    box-shadow:
        2px 2px 4px #00000033 inset,
        -2px -2px 4px #ffffff22 inset,
        -1px -1px 6px #00000033,
        1px 1px 6px #ffffff22;
}

.card {
    box-shadow:
        -2px -2px 4px #ffffff22,
        2px 2px 4px #00000033,
        1px 1px 6px #ffffff22 inset,
        -1px -1px 6px #00000033 inset;
}

.card:active {
    box-shadow:
        2px 2px 4px #00000033 inset,
        -2px -2px 4px #ffffff22 inset,
        -1px -1px 6px #00000033,
        1px 1px 6px #ffffff22;
}

.unpressed {
    box-shadow:
        -2px -2px 4px #ffffff22,
        2px 2px 4px #00000033,
        1px 1px 6px #ffffff22 inset,
        -1px -1px 6px #00000033 inset;
}

.pressed {
    box-shadow:
        2px 2px 4px #00000033 inset,
        -2px -2px 4px #ffffff22 inset,
        -1px -1px 6px #00000033,
        1px 1px 6px #ffffff22;
}